div {
  width: 240px;
  height: 10vh;
  background-color: #010110;
  padding: 10px;
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: none;
  background: transparent;
  color: rgb(229, 226, 226);
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
}

button:hover {
  background-color: #c3c3ca;
}

img {
  width: 20px;
  height: 20px;
}

span {
  font-size: 14px;
  font-weight: 500;
}
